<div id="leaderboard">

  <div class="container">
    <h1>Leaderboard</h1>
    <div class="row">
      <% var pos = 0; for (let i of top100) { pos++; %>
      <div class="col-md-6 col-lg-4 leaderboard-box">
        <div class="inner">
          <span class="pos"><%= pos %>.</span>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              E-mail
            </div>
            <div class="stat-value">
              <%= i.user.email %>
            </div>
          </div>
          <hr>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Collected Money
            </div>
            <div class="stat-value">
              <%= Math.round(i.totalMoneyCollected) %>$
            </div>
          </div>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Current Money
            </div>
            <div class="stat-value">
              <%= Math.round(i.currentMoney) %>$
            </div>
          </div>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Playtime
            </div>
            <div class="stat-value">
              <%= i.currentPlaytime %> seconds
            </div>
          </div>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Total clicks
            </div>
            <div class="stat-value">
              <%= i.currentClicks %> clicks
            </div>
          </div>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Achievements unlocked
            </div>
            <div class="stat-value">
              <%= i.achievementsUnlocked %> achievements
            </div>
          </div>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Total investment levels
            </div>
            <div class="stat-value">
              <%= i.totalInvestmentLevels %> investments
            </div>
          </div>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Upgrades bought
            </div>
            <div class="stat-value">
              <%= i.upgradesBought %> upgrades
            </div>
          </div>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Money from gambling
            </div>
            <div class="stat-value">
              <%= Math.round(i.moneyFromGambling) %>$
            </div>
          </div>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Money from investments
            </div>
            <div class="stat-value">
              <%= Math.round(i.moneyFromInvestments) %>$
            </div>
          </div>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Money from clicks
            </div>
            <div class="stat-value">
              <%= Math.round(i.moneyFromClicks) %>$
            </div>
          </div>
          <div class="leaderboard-stat-row">
            <div class="stat-key">
              Money from videos
            </div>
            <div class="stat-value">
              <%= Math.round(i.moneyFromVideos) %>$
            </div>
          </div>
          <hr>
          <div class="row">

            <div class="col-md-12">
              <a href="/userdetails/<%= i.user.id %>" class="btn btn-outline-info btn-block">View Details</a>
            </div>
            <!-- <div class="col-md-6">
                <button class="btn btn-danger btn-block">Ban</button>
            </div> -->
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
