<div id="dashboard">

  <div class="container">
    <h1>Dashboard</h1>
    <div class="row" id="stats-container">

      <div id="all-users" class="col-md-6">
        <div class="inner">
          <h5>Mobile user registration stats</h5>
          <h6>All registered mobile users</h6>
          <%= allRegisteredUsers %>
          <hr>
          <h6>Mobile users registered this week by day</h6>
          <%= last7DaysRegisteredUsers %>
          <hr>
          <h6>Mobile users registered previous week</h6>
          <%= previousWeekRegisteredUsers %>
        </div>
      </div>

      <div id="gambling" class="col-md-6">
        <div class="inner">
          <h5>Gambling stats</h5>
          <div class="row">
            <div class="col-md-6">
              <h6>All gambles</h6>
              <%= allGambles %>
              <hr>
              <h6>Gambles this week by day</h6>
              <%= last7DaysGambles %>
              <hr>
              <h6>Gambles previous week</h6>
              <%= previousWeekGambles %>
            </div>
            <div class="col-md-6">
              <h6>All gambles won</h6>
              <%= allGamblesWon %>
              <hr>
              <h6>Gambles won this week by day</h6>
              <%= last7DaysGamblesWon %>
              <hr>
              <h6>Gambles won previous week</h6>
              <%= previousWeekGamblesWon %>
            </div>
          </div>
        </div>
      </div>


      <div id="bought-investments" class="col-md-6">
        <div class="inner">
          <h5>Investment stats</h5>
          <h6>All investment purchases</h6>
          <%= allPurchasedInvestments %>
          <hr>
          <h6>Investment purchases this week by day</h6>
          <%= last7DaysPurchasedInvestments %>
          <hr>
          <h6>Investment purchases previous week</h6>
          <%= previousWeekPurchasedInvestments %>

        </div>
      </div>
      <div id="bought-upgrades" class="col-md-6">
        <div class="inner">
          <h5>Upgrade stats</h5>
          <h6>All upgrade purchases</h6>
          <%= allPurchasedUpgrades %>
          <hr>
          <h6>Upgrade purchases this week by day</h6>
          <%= last7DaysPurchasedUpgrades %>
          <hr>
          <h6>Upgrade purchases previous week</h6>
          <%= previousWeekPurchasedUpgrades %>

        </div>
      </div>

      <div id="opens-closes" class="col-md-6">
        <div class="inner">
          <h5>App open-close stats</h5>
          <div class="row">
            <div class="col-md-6">
              <h6>All app opens</h6>
              <%= allTimeOpens %>
              <hr>
              <h6>Opens this week by day</h6>
              <%= last7DaysOpens %>
              <hr>
              <h6>Opens previous week</h6>
              <%= previousWeekOpens %>
            </div>
            <div class="col-md-6">
              <h6>All app closes</h6>
              <%= allTimeCloses %>
              <hr>
              <h6>Closes this week by day</h6>
              <%= last7DaysCloses %>
              <hr>
              <h6>Closes previous week</h6>
              <%= previousWeekCloses %>
            </div>
          </div>

        </div>
      </div>



      <div id="money-source" class="col-md-6">
        <div class="inner">
          <h5>Money source kördiagram: click/investment/gambling</h5>
          <ul>
            <li>
              Gambling:
              <%= gamblingMoney %>
            </li>
            <li>
              Clicks:
              <%= clicksMoney %>
            </li>
            <li>
              Videos:
              <%= videosMoney %>
            </li>
            <li>
              Investments:
              <%= investmentsMoney %>
            </li>
          </ul>

        </div>
      </div>

      <div id="click-count" class="col-md-6">
        <div class="inner">
          <h5>Investment max levels</h5>
          <h6>TODO</h6>

        </div>
      </div>


      <div id="playtime" class="col-md-6">
        <div class="inner">
          <h5>Sum of playerbase actions</h5>
          <h6>Videos watched:</h6>
          <%= videosWatched %>
          <hr>
          <h6>Achievements unlocked:</h6>
          <%= videosWatched %>
          <hr>
          <h6>Current playtime:</h6>
          <%= currentPlaytime %>

        </div>
      </div>

    </div>

  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
