<div id="welcome">

  <div class="container">
    <h1>Dashboard</h1>
    <div class="row" id="stats-container">

      <div id="all-users" class="col-md-6">
        <div class="inner">
          <h5>Mobile user registration stats</h5>
          <h6>All registered mobile users</h6>
          <%= allRegisteredUsers %> users
          <hr>
          <h6>Mobile users registered this week by day</h6>
          <div id="last7DaysRegisteredUsers-chart">

          </div>
          <hr>
          <h6>Mobile users registered previous week</h6>
          <%= previousWeekRegisteredUsers %> users
        </div>
      </div>

      <div id="gambling" class="col-md-6">
        <div class="inner">
          <h5>Gambling stats</h5>
          <div class="row">
            <div class="col-md-6">
              <h6>All gambles</h6>
              <%= allGambles %> gambles
              <hr>
              <h6>Gambles this week by day</h6>
              <div id="last7DaysGambles-chart">

              </div>
              <hr>
              <h6>Gambles previous week</h6>
              <%= previousWeekGambles %> gambles
            </div>
            <div class="col-md-6">
              <h6>All gambles won</h6>
              <%= allGamblesWon %> gambles
              <hr>
              <h6>Gambles won this week by day</h6>
              <div id="last7DaysGamblesWon-chart">

              </div>
              <hr>
              <h6>Gambles won previous week</h6>
              <%= previousWeekGamblesWon %> gambles
            </div>
          </div>
        </div>
      </div>


      <div id="bought-investments" class="col-md-6">
        <div class="inner">
          <h5>Investment stats</h5>
          <h6>All investment purchases</h6>
          <%= allPurchasedInvestments %> investments
          <hr>
          <h6>Investment purchases this week by day</h6>
          <div id="last7DaysPurchasedInvestments-chart"></div>
          <hr>
          <h6>Investment purchases previous week</h6>
          <%= previousWeekPurchasedInvestments %> investments

        </div>
      </div>
      <div id="bought-upgrades" class="col-md-6">
        <div class="inner">
          <h5>Upgrade stats</h5>
          <h6>All upgrade purchases</h6>
          <%= allPurchasedUpgrades %> upgrades
          <hr>
          <h6>Upgrade purchases this week by day</h6>
          <div id="last7DaysPurchasedUpgrades-chart">

          </div>
          <hr>
          <h6>Upgrade purchases previous week</h6>
          <%= previousWeekPurchasedUpgrades %> upgrades

        </div>
      </div>

      <div id="opens-closes" class="col-md-6">
        <div class="inner">
          <h5>App open-close stats</h5>
          <div class="row">
            <div class="col-md-6">
              <h6>All app opens</h6>
              <%= allTimeOpens %> opens
              <hr>
              <h6>Opens this week by day</h6>
              <div id="last7DaysOpens-chart"></div>
              <hr>
              <h6>Opens previous week</h6>
              <%= previousWeekOpens %> opens
            </div>
            <div class="col-md-6">
              <h6>All app closes</h6>
              <%= allTimeCloses %> closes
              <hr>
              <h6>Closes this week by day</h6>
              <div id="last7DaysCloses-chart"></div>
              <hr>
              <h6>Closes previous week</h6>
              <%= previousWeekCloses %> closes
            </div>
          </div>

        </div>
      </div>



      <div id="money-source" class="col-md-6">
        <div class="inner">
          <h5>How people make money</h5>
          <div id="money-pie"></div>
        </div>
      </div>

      <div id="playtime" class="col-md-6">
        <div class="inner">
          <h5>Sum of playerbase actions</h5>
          <h6>Videos watched:</h6>
          <%= videosWatched %> videos
          <hr>
          <h6>Achievements unlocked:</h6>
          <%= videosWatched %> achievements
          <hr>
          <h6>Current playtime:</h6>
          <%= currentPlaytime %> seconds

        </div>
      </div>

    </div>

  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
